# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a structured collection of data that allows for efficient storage, retrieval, and management of information.

SQL (Structured Query Language) databases:
- Use a structured, tabular format for data storage.
- Have a predefined schema that enforces data consistency.
- Great for complex queries and transactions.
- Examples: MySQL, PostgreSQL, Oracle.

NoSQL (Not Only SQL) databases:
- Use a variety of data models, such as document, key-value, or graph.
- Typically have a flexible schema or no schema at all.
- Suited for handling large volumes of unstructured data.
- Examples: MongoDB, Cassandra, Redis.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL stands for Data Definition Language. It is a subset of SQL used to define, manage, and modify the structure of a database.

- **CREATE:** It is used to create new database objects like tables, indexes, or views. For example, to create a new table called "Customers":

    ```sql
    CREATE TABLE Customers (
        CustomerID INT PRIMARY KEY,
        FirstName VARCHAR(50),
        LastName VARCHAR(50),
        Email VARCHAR(100)
    );
    ```

- **DROP:** It is used to delete existing database objects. For instance, to drop the "Customers" table:

    ```sql
    DROP TABLE Customers;
    ```

- **ALTER:** It is used to modify the structure of an existing database object. For example, to add a new column "PhoneNumber" to the "Customers" table:

    ```sql
    ALTER TABLE Customers
    ADD PhoneNumber VARCHAR(15);
    ```

- **TRUNCATE:** It is used to remove all data from a table, but the table structure remains intact. This is faster than the DELETE statement. For example, to truncate the "Customers" table:

    ```sql
    TRUNCATE TABLE Customers;
    ```

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

A3. DML stands for Data Manipulation Language. It is a subset of SQL used to manipulate or interact with the data stored in a database. Here are three commonly used DML statements:

- **INSERT:** It is used to add new records (rows) into a table. For example, to insert a new customer into a "Customers" table:

    ```sql
    INSERT INTO Customers (CustomerID, FirstName, LastName, Email)
    VALUES (1, 'John', 'Doe', 'johndoe@email.com');
    ```

- **UPDATE:** It is used to modify existing data in a table. For instance, to update the email address of a customer with the ID 1:

    ```sql
    UPDATE Customers
    SET Email = 'newemail@email.com'
    WHERE CustomerID = 1;
    ```

- **DELETE:** It is used to remove records from a table. To delete a customer with the ID 1 from the "Customers" table:

    ```sql
    DELETE FROM Customers
    WHERE CustomerID = 1;
    ```

# Q4. What is DQL? Explain SELECT with an example.

A4. DQL stands for Data Query Language. It is a subset of SQL used to retrieve or query data from a database. The primary DQL statement is:

- **SELECT:** It is used to retrieve data from one or more tables. Here's an example of a SELECT statement to retrieve all customer names from a "Customers" table:

```sql
SELECT FirstName, LastName
FROM Customers;
```

# Q5. Explain Primary Key and Foreign Key.

A Primary Key and a Foreign Key are two essential concepts in relational databases that help establish relationships between tables and ensure data integrity. Here's an explanation of each:

**Primary Key:**
- A Primary Key is a column or set of columns in a relational database table that uniquely identifies each row or record in that table.
- It enforces the uniqueness constraint, ensuring that no two rows in the table have the same values in the Primary Key column(s).
- Primary Keys are used to identify and access individual records efficiently.
- Every table in a relational database should have a Primary Key.
- Common examples of Primary Keys include an "ID" column with unique identifiers or a combination of columns that, when taken together, is unique.

**Foreign Key:**
- A Foreign Key is a column or a set of columns in a table that is used to establish a link between the data in two tables. It creates a referential relationship between the tables.
- The Foreign Key in one table is linked to the Primary Key in another table, representing a connection between the data in these tables.
- Foreign Keys help maintain data integrity by enforcing referential constraints. This ensures that data in one table corresponds to data in another table, and it prevents actions that would leave "orphaned" records.
- For example, in a database for an online store, you might have a "Customers" table with a Primary Key of "CustomerID," and an "Orders" table with a Foreign Key "CustomerID" that links each order to a specific customer.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, you can use the `mysql-connector-python` library. You can install it using pip:

```bash
pip install mysql-connector-python
```

Here's a Python code example to connect to a MySQL database and perform a simple database operation:

```python
import mysql.connector

# Establish a connection to the MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Create a cursor object to interact with the database
cursor = connection.cursor()

# Execute a SQL query using the cursor
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch the result of the query
results = cursor.fetchall()

# Print the results
for row in results:
    print(row)

# Close the cursor and the database connection
cursor.close()
connection.close()
```

Explanation:

1. `mysql.connector` is imported to work with MySQL databases.

2. You establish a connection to the MySQL database by providing the necessary connection parameters, such as the host, user, password, and database.

3. A cursor object is created using `connection.cursor()`. The cursor acts as a pointer to navigate and interact with the database.

4. You can execute SQL queries using the `execute()` method of the cursor. In the example, a simple SELECT query is executed to retrieve all rows from a table.

5. The `fetchall()` method is used to fetch the results of the query into the `results` variable.

6. The code then iterates through the results and prints them.

7. Finally, it's essential to close the cursor and the database connection using `cursor.close()` and `connection.close()` to free up resources and ensure proper database handling.

# Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are typically executed in the following order:

1. **FROM:** This clause specifies the tables or data sources from which data will be retrieved. It's the starting point of the query.

2. **WHERE:** The WHERE clause filters the rows from the tables specified in the FROM clause based on a specified condition. Only rows that satisfy the condition will be included in the result set.

3. **GROUP BY:** If used, the GROUP BY clause groups the result set into sets of rows that have the same values in specified columns. It's often used in combination with aggregate functions like SUM, COUNT, AVG, etc.

4. **HAVING:** The HAVING clause is used to filter the grouped rows based on conditions, similar to the WHERE clause but applied to the grouped results.

5. **SELECT:** The SELECT clause determines which columns or expressions will be included in the final result set. It follows the filtering and grouping operations.

6. **DISTINCT:** If specified, the DISTINCT keyword eliminates duplicate rows from the result set based on the selected columns.

7. **ORDER BY:** The ORDER BY clause sorts the result set based on specified columns, either in ascending (ASC) or descending (DESC) order.

8. **LIMIT/OFFSET:** These clauses, often used in databases like MySQL and PostgreSQL, allow you to limit the number of rows returned (LIMIT) or skip a certain number of rows (OFFSET).

9. **UNION/INTERSECT/EXCEPT:** These set operations, if used, combine the results of multiple queries. They are executed after all the other clauses in each individual query.